
.active {
  background-color: #1d4ed8;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(179, 17, 179);
  color: black;
  top: 0;
}

nav .title {
  font-size: 1.5rem;
  /* margin: 1rem;
  font-weight: bold;
  text-decoration: none; */
  color: black;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: black;
  margin: 0 0.5rem;
  font-size: 23px;
}

nav .menu {
  display: none;
  position: absolute;
  top: 1.95rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  /* width: 100%; */
  background-color: #000;
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
}



@media (max-width: 800px) {
  nav .menu {
    display: flex;
    cursor: pointer;
  }
  nav .menu span {
    /* width: 100%; */
     transform: translateX(-30px);
  }
  
  
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    /* width: 100%; */
    margin-top: 2rem;
    margin-bottom: 0.25rem;
  }

  nav .title {
    margin-right: 13rem;
    color: black;
  }

  nav ul.open {
    display: flex;
  }

  /* nav ul li {
   width: 100%;
    text-align: center;
  } */

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}
